@import "tailwindcss";

@theme {
  --color-pinkGlow: #C54E9E;
  --color-aquaGlow: #48B6BC;
  --color-darkblue: #1f3a5f;
  --color-lightgreen: #219654;
  --color-lightgrey: #eaf0f2;
  --color-backg: #fdf7e7;
  
}

